<% provide(:title, "About") %>

<h3>About our club</h3>
<hr>
<div class="col-md-7 text">
<p>Hello fellow hikers and lovers of mother nature. You have found a group of outdoors enthusiasts who love hiking, bicycling, floating (sometimes paddling), and camping in the great outdoors! We get out year round and always focus on “leaving no trace” as we go. </p>

<p>The group is made up of a wonderful mix of personalities, skills, and adventure levels. Though most of us live in the NYC Area, we have many active members from other areas. We have no membership fee. Please join us as we explore and discover the vast beauty of New York State parks and surrounding areas. </p>
</div>

<div class="col-md-3">
	<%= link_to "Join Now", new_user_registration_path, class: "btn btn btn-success btn-raised mdi-action-perm-identity" %>
</div>
