<% provide(:title, "Home") %>

<h3>Welcome to Albanian Hiking club of NYC Area</h3>
<hr>

<h4> Hiking in New York State </h4>

<div class="text">
	<p>New York State is a region of diverse landscapes and opportunities that offer a fan of the outdoors a little of everything. The Adirondacks, in the northern half of the state are a paradise. Climb Mount Marcy or any of the 46er Peaks and experience the rush of the top and the fantastic views, the rare alpine vegetation on the rocky, bare summit, or even weather conditions that can be harsh enough to rival any other peak. Take a quiet walk around the seemingly unlimited number of ponds and lakes scattered around the valleys and lowlands. Follow a river to its highest source or quietly watch the animals in a brightly colored field. </p>

	<p>The Cattskills are also a region of large mountains and steep passes where anyone could find something to do. Witness the grandeur of the Great Lakes as and the fertility of wine country and the Finger Lakes. Drink the freshest water of Saratoga Springs and walk the sandy shores of Long Island. </p>

	<p>There's something for everyone in New York...if you can find it. </p>
</div>
