<% provide(:title, "Membership") %>

<h3>Welcome to Albanian Hiking Club of NYC Area</h3>
<hr>
<h4>All Albanian Hiking Club members will be notified for future events and all outdoor entertainment.</h4>
<hr>
<hr>
This page is still under development, please come back later.
