<% provide(:title, "Pictures") %>

<h3>Memories and Places</h3>
<hr>
<p>Here are some pictures from our latest trips.</p>
<hr>
<br>
<br>

<% cache ("flickr_sidebar") do %>
	<%= render_flickr_sidebar_widget('46281061@N03') %>
<% end %>