<footer class="footer footer-fixed-bottom">
  <small>
    For any questions <a href="mailto:ardihamza@gmail.com">send an Email</a>. Copyright <a href="http://arddit.com/">Ardit Hamzai</a>.
  </small>
  <nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul> 
	</nav>
</footer>